<% @events.each do |event| %>
<% if event.status? %>
<div class="card-white">
  <div class="card" style="background-image: /*linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),*/ url(
  <%= event.photo_url %>);">
  </div>
  <div class="card-category-index"><strong><%= event.name.upcase %></strong>
    <br>
    <%= event.place_name %>
  </div>
  <div class="card-description-index"><%= event.time.strftime('%d-%h | %Hh%Mm') %> | <%= event.users.count %><i class="fas fa-users"></i></div>
  <%= link_to "", event, class: "card-link" %>
</div>
<br>
<% end %>
<% end %>

