<div class="col-sm-6 col-sm-offset-3 send-message">
   <h3>Send Message</h3>
 </div>
 <div class="container-fluid">
   <div class="row" id="row_box">
     <div class="chat-text-input">
       <%= form_with(model: @chat, remote: true, format: :json, id: 'chat-form') do |form| %>
       <div class="field position-relative">
         <%= form.text_field :message, id: :message, class: "form-control", required: true %>
         <%= form.hidden_field :username, value: current_user.first_name %>
         <%= form.hidden_field :event_id, value: @event.id %>
       </div>
       <% end %>
     </div>
     <div class="col-12 full-height">
       <div class="container-fluid">
         <div class="chat-box py-2" id="<%= @event.id %>">
           <h4 class="username d-none mb-3"></h4>
           <% @chats.each do |chat| %>
           <div class="col-12">
             <div class="chat-all">
              <div class="pic-name">
               <img class="penguin" src="https://vignette.wikia.nocookie.net/farmville/images/e/e9/White_Baby_Penguin-icon.png/revision/latest?cb=20121101164636">
               <br>
               <%= chat.username %>
               </div>
               <div class="chat-bubble" id="bubble">
                 <p class="m-0 chat-message"><%= chat.message %></p>
               </div>
             </div>
           </div>
           <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
