
 <div class="container-fluid">
   <div class="row" id="row_box">
     <div class="col-12 chat-text-input" id="<%= @current_user.first_name %>">
     </div>
     <div class="col-12 full-height">
       <div class="container-fluid">
         <div class="chat-box py-2 chat-bg" id="<%= @event.id %>">
          <h4 class="username d-none mb-3"></h4>
          <% @chats.each do |chat| %>
          <% if chat.username == current_user.first_name %>
             <%= render "shared/chat_me", chat: chat %>
             <% else %>
             <%= render "shared/chat_you", chat: chat %>
           <% end %>
           <% end %>
         </div>
       <%= form_with(model: @chat, remote: true, format: :json, id: 'chat-form') do |form| %>
       <div class="field position-relative">
         <%= form.text_field :message, id: :message, class: "form-control margin", required: true, placeholder: "chat with others" %>
         <%= form.hidden_field :username, value: current_user.first_name %>
         <%= form.hidden_field :event_id, value: @event.id %>
         <%= form.submit "Send", :class => "btn btn-warning" %>
       </div>
       <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
