<div class="container">
  <div class="row card-show">
    <div class="col-12">
      <h5 class="justify-content-center" id="event-name"><%= @event.name %> </h5>
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= render "shared/card_show", event: @event %>
          </div>
          <div class="back">
            <!-- back content -->
            <%= simple_form_for(@event, remote: true) do |f| %>
              <%= f.input :name %>
              <%= f.label :place_name %>
              <%= f.select :place_name, @bar_names %>
              <%= f.input :time %>
              <%= f.submit class: "btn btn-primary btn-flip" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-success" id="myCard">Click to Update</button>
    </div>
  </div>
</div>

  <%= render "shared/chat" %>
