<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ICEbreaker - the place to meet people near you</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <%#= stylesheet_pack_tag 'application', media: 'all' %> Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="description" content="ICEbreaker is the fastest and safest way to network with people near you. Geared towards office workers and digital nomads, an experience is only one click away.">
     <meta name="theme-color" content="#2DC2BD"/>
     <%= render "shared/head" %>
<!--     <meta property="og:title" content="Le Wagon - The French innovative coding school">
    <meta property="og:image" content="facebook-card.jpg">
    <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
    <meta property="og:site_name" content="Le Wagon"/> -->
<!--     <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Lewagonparis">
    <meta name="twitter:title" content="Le Wagon - The French innovative coding school">
    <meta name="twitter:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
    <meta name="twitter:creator" content="@Lewagonparis">
    <meta name="twitter:image:src" content="http://twitter-card.jpg"> -->
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '2173169899419960',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.1'
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
      <%= render 'shared/navbar' %>
      <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'map' %>


<script>

</script>
  </body>
</html>
